.container-bwc{
    background-color:#FFFFFF;
    border-radius: 36px 0 0 36px;   
    width: 300px;
    display: block;

}

.bwc-filter{
    display: flex;
    align-items: center;
    margin: 30px;
}
.search-img{
    height: 15px;

}
.search_area{   
    width: 204px;
    padding: 0.6rem 2.2rem 0.6rem 0.9rem;
    border: none;
    outline: none;
    color: #1A1A1A;
}

.geolocation-button{
    size: 20px;
    border: none;
    padding: 1px;
    border-radius: 64%;
    background-color:  #F7F6F9;
}

#location-icon{
   font-size: 30px; 
   font-size: 30px;
   height: 14px;  
   padding-top: 2px;
   padding-left: 1.2px;
  }

.bwc-img{
    height: 250px;    
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 43px;
}

.temp-date-container{
    border-bottom: 0.5px solid #CECECE;
    width: 150px;
    padding-bottom: 10px;
}
.bwc-temp{
    font-size: 58px;
    font-weight: 100;
    color: #1A1A1A;
}
.bwc-date{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 15px;
    color: #1A1A1A;
}

.time{
    color: #CECECE;
}

.bwc-sumary-container{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cloud-icon{
    height: 15px;
    color: grey
}

.bwc-sumary{
   padding: 8px;
   color:#1A1A1A;
}

.bwc-rainProb-container{
    display: flex;
    align-items: center;
}

.bwc-rainProb{
    padding: 12px;
    color:#1A1A1A;
}

.right{
    background-color: #F7F6F9;
}
