.container{
    display: flex;
    flex-direction: column;
    width: 230.6px;
    height: 172px;
    background-color: #FFFFFF;
    border-radius: 20px;
    justify-content: space-between;
    margin: 0.5rem;

}
.card__title{
    color: #CECECE;
    right: 200px;
    margin-top: 15px;
    margin-left: 35px;
    font-weight: 400;
}
.card__value{
    font-weight: 500;
    font-size: 34px;
    margin-left: 82px;
    margin-top: 26px;
}

.sun-values{
    font-weight: 500;
    font-size: 16px;
    margin-left: 94px;
    margin-top: 20px;
    
}

.wind-status{
    font-weight: 500;
    font-size: 34px;
    margin-left: 32px;
    margin-top: 26px;

}

.secundary-value{
    font-weight: 500;
    font-size: 10px;
    margin-left: 60px;
    padding: 20px;

}
.visibility{
    font-weight: 500;
    font-size: 34px;
    margin-left: 32px;
    margin-bottom: 30px;
}

.humidity{
    font-weight: 500;
    font-size: 34px;
    margin-left: 32px;
    margin-bottom: 30px;
}

.units{
    font-size: 16px;
}
.card__msg{
    color: #1A1A1A;
    padding-bottom: 14px;
    padding-left: 34px;
}