.main__container{
    width: 780px;
    background-color: #F7F6F9;
    margin:auto;
    padding-bottom: 100px;
    height: 449px;
    padding-left: 0.2rem;
    padding-right: 1rem;


}
.cards__container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.main_text{

    text-decoration: none;
    text-align: left;
    margin-right: 60%;
    font-size: 1.3rem;
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 1.2rem;

}

#sun-values{
       font-weight: 500;
        font-size: 18px;
        margin-left: 82px;
    
   }


