.small_card{

        font-size: 0.8rem;
        margin: 2px;
        padding: 5px;
        width: 100px;
        height: 120px;
        background-color: #FFFFFF;
        text-align: center;
        border-radius: 20px;

}

.card_img{
    margin: 0 auto;
    width: 70px;
    text-align: center;
    justify-content: baseline;
}
.min_temp{
    
    color: rgb(177, 177, 177);
}
