.main_container{

    display:grid;
    padding-top: 30px;
    grid-template-areas: 
    "main lateral";
    width: 1100px;
    margin:auto;   

}
.left_panel{
    grid-area: main;   
}
.right_panel{
    grid-area: lateral;   
}
