.container-week{
    background-color: whitesmoke;
     height: 450px;
}
.btn-gnral{
    border-radius: 60%;
    border: none;
    padding: 10px;
    
}
.btn-celcius{
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 5px;
}
.btn-Farighein{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.container-Card-Week{
    width: 100%;
    display: flex;
    flex-direction: row;

}
.container-sun{
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
    width: 120px;
    height: 150px;
    background-color: rgb(232, 232, 232);
    text-align: center;
    border-radius: 20px;

}
.img-sun{
    margin: 0 auto;
    width: 70px;
    text-align: center;
}
.spam-styl{
    color: rgb(177, 177, 177);
}