.container-week{
    width:845px;
    background-color: #F7F6F9;
     min-height:550px;
     border-top-right-radius: 30px;
     border-bottom-right-radius: 30px;
     padding: 10px;
     height: 720px;


}
.title-week{
    margin-top: 18px;
    text-decoration: underline;
    text-align: left;
    margin-right: 61%;
    font-size: 1.3rem;
    display: inline-block;
    margin-left: 50px;
}
.btn-gnral{
    border-radius: 60%;
    border: none;
    padding: 10px;
    margin: 5px; 
 
}
.btn-celcius{
    background-color: #1A1A1A;
    color: white ;
   
}
.btn-Farighein{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 12px;
}
.container-Card-Week{
    display: flex;
    flex-wrap: wrap;
    height: 164px;
    margin: 25px 25px 0 40px;


}
